$hue: 253;
$primary-color: hsl($hue, 100%, 67%);
$primary-hover: hsl($hue, 49%, 47%);

$colot: #573db3;

$color-font: hsl(0, 0%, 83%);

$white: hsl(0, 0%, 96%);
$black: #000000;

$bg-color: #22262a;
$header-color: #1b1b1b;
$blocks: rgba(41, 43, 46, 0.7);

$color-footer: #7b7b7b;

$font: "DM Sans", sans-serif;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-24: 24px;
$size-30: 30px;
$size-34: 34px;
$size-40: 40px;
$size-48: 48px;
$size-52: 52px;

$header-height: 4.6875rem;
